<div class="container background">
    <div class="row">
        <!-- <img src="https://html.sammy-codes.com/images/small-profile.jpeg" style="height:150px; border-radius: 50%; border: 10px solid #FEDE00; padding-top:80px;"> -->

<div class="container">
    <div class="row">
        <h1 class="welcome text-center">Welcome to Jeopardy! </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- player dropdown -->
        <div class="col-2"></div>
       
        <div class="col-10 text-center">
            <select class="dropdown" (change)="saveSelected($event.target)"> 
                <option value="default">Select Number of Players</option>
                <option>1 Players</option>
                <option>2 Players</option>
                <option>3 Players</option>
                <option>4 Players</option>
                <option>5 Players</option>
            </select>
            <br>
            <button type="button" class=" btn btn-success" (click)="newGame()">
                Start     
            </button>
        </div>
        
    </div>
</div>
</div>
    

</div>




   
