@import "bootstrap"; 
.welcome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 112, 115);
    font-size: 50px;
}

.dropdown a:hover{
    background-color: rgb(227, 227, 154);
    
    border: 1px solid black;
    
  }